
body {
  background-color: #D4D2C9;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #A3F2B9;
  color: white;
}

img {
  display: block;
  width: 15vw;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  box-shadow: 10px 10px 5px #2a2e35;
  top: 0;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  width: calc(100vh - 100px); 
}
 .topico1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.btn {
  width: 100%;
  background-color: #7821F2;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}

